/* - - - font import - - - */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* - - - browser resets - - - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* - - - hero section styling - - - */
#hero {
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;background-attachment: scroll;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero img {
    width: 7vw;
}

#hero h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0 1% 0;
    font-size: 3vw;
    color: #fff;
}

#hero h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1vw;
    margin-bottom: 10%;
    letter-spacing: 0.07vw;
}
@keyframes bounce {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: -0.5%;
    }

    100% {
        margin-top: 0;
    }
}
#hero svg {
    color: #fff;
    width: 2vw;
    animation: bounce 1s infinite;
}

/* - - - about section syling - - - */
#about {
    padding: 5% 20%;
    text-align: center;
    width: 100%;
    height: auto;
}

#about h3 {
    text-transform: uppercase;
    font-size: 2vw;
    margin-bottom: 2%;
}

#about p {
    font-size: 1vw;
    line-height: 2.5vw;
    letter-spacing: 0.05vw;
}

/* - - - services section styling - - -
#services {
    padding: 10% 20%;
    text-align: center;
    width: 100%;
    height: auto;
    background-image: url("../assets/backgrounds/s_image.jpg");
}

#services h3 {
    color: #fff;
    text-transform: uppercase;
    font
} */