/* - - - font import - - - */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* - - - browser resets - - - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, P {
    color: #3c3c3c; 
}

/* - - - hero section styling - - - */
#hero {
    width: 100%;
    height: 57vw;
    padding-top: 10%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero img {
    width: 7vw;
}

#hero h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0 1% 0;
    font-size: 3vw;
    color: #fff;
}

#hero h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1vw;
    margin-bottom: 10%;
    letter-spacing: 0.07vw;
}
@keyframes bounce {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: -0.5%;
    }

    100% {
        margin-top: 0;
    }
}
#hero svg {
    color: #fff;
    width: 2vw;
    animation: bounce 1s infinite;
}

/* - - - about section syling - - - */
#about {
    padding: 7% 20%;
    text-align: center;
    width: 100%;
    height: auto;
}

#about h3 {
    text-transform: uppercase;
    font-size: 2vw;
    margin-bottom: 2%;
    letter-spacing: 0.3vw;
}

#about p {
    font-size: 1vw;
    line-height: 2.5vw;
    letter-spacing: 0.05vw;
    font-weight: 500;
}

/* - - - services section styling - - - */
#services {
    padding: 10% 20%;
    text-align: center;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)) ,url("../assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

#services h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2vw;
    margin-bottom: 2%;
    letter-spacing: 0.3vw;
}

#services p {
    color: #fff;
    font-size: 1vw;
    line-height: 2.5vw;
    letter-spacing: 0.05vw;
    font-weight: 500;
}

/* - - - what we do section styling - - - */
 #what-we-do {
    padding: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#what-we-do h3 {
    text-transform: uppercase;
    font-size: 2vw;
    margin-bottom: 2%;
    letter-spacing: 0.3vw;
}

#what-we-do .s-container {
    padding: 5% 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#what-we-do .s-container .service {
    position: relative;
    padding: 2% 0;
    width: 30%;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#what-we-do .s-container .service .default {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: appear 1s;
}

#what-we-do .s-container .service .default img {
    width: 20%;
}

#what-we-do .s-container .service .default h3 {
    font-size: 1.1vw;
    margin-top: 5%;
}

#what-we-do .s-container .service .description {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation: appear 1s;
    cursor: pointer;
    display: none;
}

#what-we-do .s-container .service .description h3 {
    font-size: 1.1vw;
    margin-top: -15%;
    padding-bottom: 10%;
}

#what-we-do .s-container .service .description p {
    margin-top: -10%;
    font-size: 1vw;
    line-height: 1.7vw;
    letter-spacing: 0.05vw;
    font-weight: 500;
}

/* - - - portfolio section styling - - - */
#portfolio {
    padding: 5% 10% 10% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#portfolio h3 {
    text-transform: uppercase;
    font-size: 2vw;
    margin-bottom: 2%;
    letter-spacing: 0.3vw;
}

#portfolio .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#portfolio .items .item {
    width: 23%;
    margin-top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#portfolio .items .item img {
    width: 100%;
    position: relative;
    z-index: -2;
}

#portfolio .items .item .text-box {
    position: absolute;
    z-index: -1;
    background-clip: text;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    text-align: left;
    animation: appear 0.5s;
    display: none;
    backdrop-filter: blur(0.1vw);

}

#portfolio .items .item .text-box p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5vw;
    padding: 10%;
    height: 90%;
    width: 90%;
    border: solid 0.2vw #fff;
}

/* - - - contact us section styling - - - */
#contact {
    width: 100%;
    padding: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("../assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

#contact h3 {
    text-transform: uppercase;
    font-size: 2vw;
    margin-bottom: 2%;
    letter-spacing: 0.3vw;
    color: #fff;
}

#contact form {
    width: 70%;
}

#contact form .info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact form .info input {
    padding: 2%;
    width: 48%;
    outline: none;
    border: 0.1vw solid #fff;
    border-radius: 0.3vw;
    background-color: transparent;
    color: #fff;
    font-size: 0.9vw;
    margin: 5% 0;
}

#contact form .info input::placeholder {
    color: rgb(197, 197, 197);
}

#contact form textarea {
    width: 100%;
    height: 15vw;
    padding: 2%;
    background-color: transparent;
    outline: none;
    border: 0.1vw solid #fff;
    border-radius: 0.3vw;
    background-color: transparent;
    color: #fff;
    font-size: 0.9vw;
}

#contact form textarea::placeholder {
    color: rgb(197, 197, 197);
}

#contact form input[type=submit] {
    padding: 1.5% 5%;
    outline: none;
    border: 0.1vw solid #fff;
    border-radius: 0.3vw;
    background-color: transparent;
    color: #fff;
    font-size: 1vw;
    margin-top: 5%;
    cursor: pointer;
}

#contact form input[type=submit]:hover {
    background-color: #fff;
    color: #3c3c3c;
}

#contact .successful {
    width: 50%;
    padding: 5%;
    outline: none;
    border: 0.1vw solid #fff;
    border-radius: 0.3vw;
    background-color: transparent;
    color: #fff;
    font-size: 1vw;
    margin-top: 5%;
    cursor: pointer;
    backdrop-filter: blur(0.2vw);
    display: none;
}

#contact .successful h3 {
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-bottom: 2%;
    letter-spacing: 0.3vw;
    color: #fff;
}

#contact .successful p {
    color: #fff;
    font-size: 1vw;
    line-height: 2.5vw;
    letter-spacing: 0.05vw;
    font-weight: 500;
}

#contact .successful .dismiss {
    padding: 2% 7%;
    outline: none;
    border: 0.1vw solid #fff;
    border-radius: 0.3vw;
    background-color: transparent;
    color: #fff;
    font-size: 1vw;
    margin-top: 5%;
    cursor: pointer;
}

#contact .successful .dismiss:hover {
    background-color: #fff;
    color: #3c3c3c;
}



/* - - - footer section styling - - - */
footer {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .icons img {
    margin: 0 2%;
    width: 4vw;

}

footer .copyright {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .copyright h3 {
    text-transform: uppercase;
    font-size: 1vw;
    margin-bottom: 2%;
    letter-spacing: 0.1vw;
}

footer .copyright p {
    font-size: 1vw;
    margin-bottom: 2%;
    letter-spacing: 0.05vw;
}